body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

input {
    padding: 10px;
    margin-top: 20px;
    width: 80%;
    max-width: 400px;
}

#userList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.user-card {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 200px;
    border-radius: 5px;
    text-align: center;
}

#pagination {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
}
